<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
  </configSections>

  <log4net configSource="log4net.config"/>
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="ITOps.Notification.Client.Error" />
  
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="ITOps.Messages" Endpoint="ITOps.Notification@localhost"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ITOps.Messages"
                          publicKeyToken="61c9abc4e4205c34"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-9.0.0.0"
                         newVersion="1.1.2.1234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>