<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core"/>
   </configSections>
  
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="ITOps.Notification.Error" />

  <log4net configSource="log4net.config" />

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ITOps.Messages"
                          publicKeyToken="61c9abc4e4205c34"
                          culture="neutral" />
        <bindingRedirect oldVersion="1.0.0.0-9.0.0.0"
                         newVersion="2.1.0.2342"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>